html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  color: black;
}

button,
input,
textarea {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font: inherit;
  letter-spacing: inherit;
}

.button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}